* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 0 10%;
}

.navbar {
    display: flex;
    margin-top: 3%;
    align-items: center;
}

.header-links {
    display: flex;
    flex: auto;
    gap: 3%;
    justify-content: flex-end;
}

.header-links a {
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
    text-decoration: none;
}

.content {
    display: flex;
    flex: auto;
    margin: 10% 0;
    gap: 5%;
}

.hero {
    width: 50%;
}

.heroimage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #e5e7eb;
}

.heroimage h2 {
    color: #1F2937;
    font-size: 18px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero h2 {
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
    padding: 3% 0;
    margin-top: -1%;
}

.info {
    padding: 0 10% 5% 10%;
}

.info h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 3% 0;
}

.imagerow {
    display: flex;
    justify-content: space-evenly;
}

.image-text {
    width: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoimage {
    width: 175px;
    height: 175px;
    border: solid 5px #3882f6;
    border-radius: 10px;
}

.infotext {
    font-size: 18px;
    color: #1f2937;
    padding-top: 3%;
    text-align: center;
}

.quote {
    padding: 5% 20%;
    background-color: #e5e7eb;
}

.quote h1 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quote h2 {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    text-align: right;
}

.calltoaction {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    margin: 5% 15%;
    padding: 3%;
    align-items: center;
    justify-content: space-around;
}

.calltext h1 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.calltext h2 {
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    padding: 1% 5%;
    border-radius: 10px;
    border: solid 3px white;
}